main{
  height: 100vh;
  display: grid;
  grid-template-columns: 56% 44%;
}
.container{
  padding-top: 7vw;
  text-align: center;
  display: grid;
}
.container_option{
  display: grid;
  text-align: left;
  gap: 1vw;
}
.form_registro{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  text-align: center;
  width: 25vw;
  align-items: center;
}
.container_option_item_input{
  display: grid;
  gap: 0.6vw;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
.container_option_item_input select{
  width: 24vw;
  height: 2.5vw;
  color: white;
  background-color: #008400;
  border: none;
  font-size: 1vw;
  border-radius: 1vw;
  padding-left: 0.5vw;
  border-right: 0.3vw solid transparent;
  outline: none;
}
.container_option_item_input label,.form_registro p, .form_registro button{
  font-size: 1.2vw;
}
.form_registro h3{
  font-size: 1.2vw;
}
input{
  width: 24vw;
  height: 2.5vw;
  border-radius: 2vw;
  border: 0.1vw solid rgba(0,158, 0, 100%);
  font-size: 0.8vw;
  padding: 0.5vw;
  outline: none;
}
button{
  width: 20vw;
  height: 4vh;
  border-radius: 2vw;
  background: rgba(0,158, 0, 100%);
  color: white;
  border: none;
  cursor: pointer;
}
button:hover{
  background: rgb(5, 99, 5);
}
.container_foto{
  position: relative;
  left: 12vw;
  width: 43vw;
}
.container_foto img{
  width: 46vw;
  height: 46vw;
}
.contenedor_img_esquina{
  display: none;
}
.container_logo{
  display: none;
  left: 10vw;
  bottom: 22vw;
}
.container_rectangle_top,.container_rectangle_bottom{
  display: none;
  position: relative;
}
.container_rectangle_bottom img{
  position: absolute;
  bottom: 0;
}

@media(max-width: 900px) {
  main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_foto{
    display: none;
  }
  .container{
    padding-top: 0vw;
  }
  .form_registro{
    gap: 3vw;
    align-items: center;
    width: 50vw;
  }
  .form_registro h3{
    font-size: 2vw;
    text-align: center;
  }

  .container_option_item_input label,
  .form_registro p, .form_registro button, .container_option_item_input select{
    font-size: 2vw;
  }
  input, .container_option_item_input select{
    width: 30vw;
    height: 4vw;
    border-radius: 2vw;
    font-size: 1.8vw;
  }
  .container_option{
    gap: 2vw;
  }
  .container_rectangle_top,.container_rectangle_bottom{
    display: block;
    left: 0;
  }
  .container_rectangle_top{
    position: absolute;
    top: 0;
  }
  .container_rectangle_bottom{
    position: absolute;
    bottom: 0;
  }
  .container_rectangle_top img{
    width: 30vw;
  }
  .container_rectangle_bottom img{
    width: 25vw;
    bottom: 0;
  }
  button{
    width: 25vw;
  }
}
@media(max-width: 700px) {
  main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_foto{
    display: none;
  }
  .form_registro{
    gap: 4vw;
    text-align: center;
    width: 41vw;
  }
  .container_option_item_input label,
  .form_registro h3,.form_registro p, .form_registro button, .container_option_item_input select{
    font-size: 2.8vw;
  }
  .form_registro h3{
    width: 40vw;
    text-align: center;
  }
  input, .container_option_item_input select{
    width: 50vw;
    height: 6vw;
    font-size: 3vw;
    padding-left: 2vw;
    border-radius: 4vw;
  }
  .container_option{
    gap: 2.5vw;
  }
  button{
    width: 40vw;
    height: 4vh;
    border-radius: 4vw;
  }
  .contenedor_img_esquina{
    display: none;
  }
  .container_logo{
    display: block;
  }
  .container_logo img{
    width: 28vw;
    height: 28vw;
  }
  .container{
    padding-top: 0;
    gap: 2vw;
    text-align: center;
  }
  .container_rectangle_bottom img{
    width: 30vw;
    bottom: 0;
  }
}
