<link rel="stylesheet" href="registro.component.css">
<main>
    <div class="container_rectangle_top">
      <img src="assets\imagen\Rectangle6.png" alt="">
    </div>
    <div class="container_foto">
      <img src="assets\imagen\Mujer y lista.svg" alt="">
    </div>
    <div class="container">
      <div class="container_logo">
        <img src="assets\imagen\Logo-Sena.png" alt="">
      </div>
      <form action="" class="form_registro">
        <h3 class="roboto-bold">Por favor registre su usuario en el formulario!</h3>
        <div class="container_option">
            <div class="container_option_item_input" >
              <label for="" class="roboto-regular">Nombre Completo:</label>
              <input type="text">
            </div>
            <div class="container_option_item_input">
              <select name="" id="">
                <option value="">Cedula de Ciudadanía</option>
                <option value="">Cedula de Extranjería</option>
                <option value="">Permiso por proteccion temporal</option>
              </select>
            </div>
            <div class="container_option_item_input">
              <label for="" class="roboto-regular">Numero de Documento :</label>
              <input type="text">
            </div>
            <div class="container_option_item_input">
              <label for="" class="roboto-regular">Email :</label>
              <input type="text">
            </div>
            <div class="container_option_item_input">
              <label for="" class="roboto-regular">Contraseña :</label>
              <input type="text">
            </div>
        </div>
        <button  class="roboto-regular">Registrarse</button>
        <p class="roboto-regular">¿Ya tienes usuario? <a class="roboto-bold">Ingrese</a></p>
      </form>
    </div>
    <div class="contenedor_img_esquina">
      <img src="assets\imagen\Img-Esquina.svg" alt="">
    </div>
    <div class="container_rectangle_bottom">
      <img src="assets\imagen\Rectangle7.png" alt="">
    </div>
</main>
