main{
  height: 100vh;
  display: grid;
  grid-template-columns: 56% 44%;
}
.container{
  padding-top: 7vw;
}
.container_option{
  display: grid;
  text-align: left;
  gap: 1vw;
}
.form_registro{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
  width: 22vw;
}
.container_option_item_input{
  display: grid;
  gap: 0.6vw;
}
.container_option_item_input label,.form_registro h3,.form_registro p, .form_registro button{
  font-size: 1vw;
}
input{
  width: 20vw;
  height: 4vh;
  border-radius: 2vw;
  border: 0.1vw solid rgba(0,158, 0, 100%);
  font-size: 0.8vw;
  padding: 0.5vw;
}
button{
  width: 20vw;
  height: 4vh;
  border-radius: 2vw;
  background: rgba(0,158, 0, 100%);
  color: white;
  border: none;
}
.container_foto{
  position: relative;
  padding-left: 16vw;
}
.container_foto img{
  width: 40vw;
}
