<link rel="stylesheet" href="registro.component.css">
<main>
  <section class="container">
    <div class="container_log">
      <div>
        <p>Por favor registre su usuario en el formulario!</p>
      </div>
      <div class="container_option">

        <div class="container_option_item_input">
          <label for="">Nombre Completo:</label>
          <input type="text">
        </div>
        <div class="container_option_item_input">
          <label for="">Tipo de Documento :</label>
          <input type="text">
        </div>
        <div class="container_option_item_input">
          <label for="">Numero de Documento :</label>
          <input type="text">
        </div>
        <div class="container_option_item_input">
          <label for="">Email :</label>
          <input type="text">
        </div>
        <div class="container_option_item_input">
          <label for="">Contraseña :</label>
          <input type="text">
        </div>
      </div>

    </div>
    <div>
      <button>Registrarse</button>
    </div>
    <div>
      ¿Ya tienes usuario? Ingrese
    </div>

  </section>
</main>
