<body>

  <div class="container">
    <header>
      <h1>Sistema de Asistencia</h1>
    </header>

    <div class="custom-select-wrapper">
      <div class="custom-select">
        <div class="custom-select-trigger">Selecciona una competencia</div>
        <div class="custom-options">
          <span class="custom-option" data-value="comp1">Competencia 1</span>
          <span class="custom-option" data-value="comp2">Competencia 2</span>
        </div>
      </div>
    </div>

    <div class="profile">
      <h2>Perfil del Instructor</h2>
      <p>Nombre: Claroce Lacome</p>
      <p>dd/mm/aa  15:30</p>
    </div>

    <section class="estudiantes">
      <h2>Estudiantes</h2>
      <table>
        <tr>
          <th>Nombre Completo</th>
          <th>Asistencia</th>
        </tr>
        <tr>
          <td>Alejandro Garcia</td>
          <td>
              <button class="btn">Vino</button>
              <button class="btn">No Vino</button>
              <button class="btn">...</button>
          </td>
        </tr>
        <tr>
          <td>Carlos Martinez</td>
          <td>
              <button class="btn">Vino</button>
              <button class="btn">No Vino</button>
              <button class="btn">...</button>
          </td>
        </tr>
      </table>
    </section>

    <footer>
      <button class="btn" onclick="guardar()">Guardar Asistencia</button>
    </footer>
  </div>
</body>
