<link rel="stylesheet" href="reporte-diario.component.css">
<main>
  <header>
      <img src="assets/imagen/Logo-Blanco.svg" alt="">
      <h1 class="roboto-bold">Sistema de Asistencia</h1>
  </header>
  <section class="roboto-bold">
    <div class="informacion_programa">
      <p>FECHA: <span class="roboto-regular "> 12/04/2024</span></p>
    </div>
    <div class="informacion_programa">
      <p>FICHA: <span class="roboto-regular "> 2558188</span></p>
    </div>
    <div class="informacion_programa">
      <p>COMPETENCIA: <span class="roboto-regular "> Diseñar la solución de software de acuerdo con procedimientos y requisitos técnicos</span></p>
    </div>
  </section>

</main>
