<div class="actualizar_datos">
    <div class="actu_contra">
      <label for="" class="roboto-regular">Correo</label>
      <input type="email"  class="roboto-regular">
      <label for="" class="roboto-regular">Ingrese nueva contraseña</label>
      <input type="text" class="roboto-regular">
      <label for="" class="roboto-regular">Confirmar Contraseña</label>
      <input type="text" class="roboto-regular">
      <br>
      <button class="roboto-regular">Guardar Correo</button>
    </div>
  </div>
