main{
  display: flex;
  background: rgba(0,158, 0, 100%);
}
.container{
  width: 65vw;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  place-content: center;
  text-align: center;
  justify-content: center;
  place-items: center;
}
.container_option{
  display: grid;
  text-align: center;
  gap: 2vw;
}
.container_option_item_input{
  display: grid;
  gap: 0.6vw;
  justify-content: left;
}
.container_option_item{
  display: grid;
  gap: 2vw;
  text-align: center;
  position: absolute;
  top: 11vw;
  left: 18vw;
}
.container_option_item label{
  font-size: 1vw;
}
.container_option_item h1{
  font-size: 2.5vw;
  text-align: center;
}
input{
  width: 22vw;
  height: 2vw;
  border-radius: 2vw;
  border: 0.1vw solid rgba(0, 158, 0, 100%);
  padding: 0.5vw;
  font-size: 0.8vw;
}
.container_input{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  text-align: left;
}
.contenedor_img_esquina{
  position: absolute;
}
p{
  font-size: 1vw;
}
button{
  width: 22vw;
  height: 2vw;
  border-radius: 2vw;
  background-color: rgba(0, 158, 0, 100%);
  color: white;
  font-size: 1vw;
  border: none;
}

.contenedor_adapter_img{
  position: absolute;
  right: 6.51vw;
}
.contenedor_adapter_img img{
  width: 43vw;
}
.contenedor_img_esquina{
  height: 100vh;
}
.contenedor_img_esquina img{
  position: absolute;
  top: 36.85vw;
  width: 15vw;
  left: 0;
}
