<link rel="stylesheet" href="login.component.css">
<main>


  <section class="container">
    <div>
      <img class="logo_verde" src="assets/imagen/Logo-Verde.png" alt="">
    </div>
    <form class="container_option_item">
      <h1 class="roboto-bold">Bienvenido!</h1>
      <div class="container_input">
        <div class="container_option_item_input">
          <label for="" class="roboto-regular">Numero de identidad :</label>
          <input type="number">
        </div>
        <div class="container_option_item_input">
          <label for="" class="roboto-regular">Contraseña:</label>
          <input type="text">
        </div>
      </div>
      <div>
        <button>Ingresar</button>
      </div>
      <p class="roboto-regular">¿No tienes usuario? <a [routerLink]="['/registro']" routerLinkActive="router-link-active"  class="roboto-bold">Registrarse</a></p>
    </form>
    <div class="contenedor_adapter_img">
      <img src="assets\imagen\Logo-mitadverde.svg" alt="">
    </div>
  </section>
  <div class="contenedor_img_esquina">
    <img src="assets\imagen\Img-Esquina.svg" alt="">
  </div>
</main>
