<link rel="stylesheet" href="login.component.css">
<main>
  <section class="container">

    <div class="container_option">
      <p>Bienvenido!</p>
      <div class="container_option_item">
        <div class="container_option_item_input">
          <label for="">Numero de identidad :</label>
          <input type="text">
        </div>
        <div class="container_option_item_input">
          <label for="">Contraseña:</label>
          <input type="text">
        </div>
      </div>

      <div>
        <button>Ingresar</button>
      </div>

    </div>
    <div>
      <img src="src\assets\imagen\Group 11.png" alt="">
    </div>
  </section>
  <img src="src\assets\imagen\de lo mejorcito 1.png" alt="">
  <!-- <section class="container_log">

  </section> -->
</main>
