<link rel="stylesheet" href="verificar-aprendiz.component.css">
<main>
    <header>
        <img src="assets/imagen/Logo-Blanco.svg" alt="">
        <h1 class="roboto-bold">Sistema de Asistencia</h1>
    </header>
    <section class="sections">
        <div class="validacion">
            <form  class="validar_datos" action="">
                <h3 class="roboto-regular">Ingrese los datos</h3>
                <section class="inputs">
                  <img class="flecha_abajo" src="assets/imagen/flecha_abajo.png" alt="">
                    <label for="" class="roboto-regular ">Tipo de Documento</label>
                    <select id="aprendizSelector" [(ngModel)]="selectedAprendiz" (change)="onSelectionChange($event)" name="" id="">
                        <option value="1" selected>Cedula de Identidad</option>
                        <option value="2">Tarjeta de Identidad</option>
                        <option value="3">Permiso por Proteccion Temporal</option>
                        <option value="4">Cedula de Extranjería</option>
                    </select>
                    <label for="" class="roboto-regular ">Numero de Documento</label>
                    <input type="number" name="" id="">
                </section>
                <button type="submit">Generar Qr</button>
            </form>
        </div>
        <div class="img_qr">
            <h3 class="roboto-bold">Bienvenido Aprendiz<br>Por seguridad verificaremos sus datos antes</h3>
            <img src="assets/imagen/Validar.png" alt="">
        </div>
    </section>
</main>

