<link rel="stylesheet" href="home.component.css">
<main>
    <header>
        <img src="assets/imagen/Logo-Blanco.svg" alt="">
        <h1 class="roboto-bold">Sistema de Asistencia</h1>
    </header>
    <div class="eleccion">
        <h2 class="roboto-bold ">Bienvenidos al sistema de asistencia del Aprendiz</h2>
        <p class="roboto-medium">
Es la herramienta definitiva para monitorear y gestionar la presencia académica con facilidad y precisión. Diseñada para optimizar el proceso formativo,
                                   nuestra plataforma garantiza que la asistencia de cada estudiante sea registrada y analizada de manera eficiente. <br><br>


               Eliga su rol para acceder a un mundo de funcionalidades intuitivas y reportes detallados que impulsarán el éxito de nuestra formacion.
        </p>
        <div class="container_roles">

            <h3 class="roboto-regular">Por favor seleccione su rol</h3>
            <div class="container_iconos">
              <img class="icon_user" src="assets/imagen/Icon_User.svg" alt="">
              <img class="flecha_abajo" src="assets/imagen/flecha_abajo.png" alt="">
              <select class="roles"  name="" id="">
                <option value="">Instructor</option>
                <option value="">Aprendiz</option>
            </select>
         
            </div>

            <button>Acceder</button>
        </div>
    </div>
</main>
