<link rel="stylesheet" href="registro-asistencia.component.css">
<main>
  <header>
    <img src="assets/imagen/Logo-Blanco.svg" alt="">
    <h1 class="roboto-bold">Sistema de Asistencia</h1>
  </header>
  <section>
    <div class="perfil_instructor">
      <div class="img_perfil">
        <img src="assets/imagen/Icon_User.svg" alt="">
        <label>Perfil del Instructor <br><span>Yase</span></label>
      </div>
      <label for="">3/11/2002<span>15:30</span></label>
    </div>
    <select class="Competencias" id="">
      <option value="">1</option>
      <option value="">2</option>
      <option value="">3</option>
    </select>
  </section>
  <h2>FICHAS</h2>
  <table>
    <tr class="encabezado_fichas">
      <td><img src="assets/imagen/Ficha.png" alt="">Numero de Ficha</td>
      <td><img src="assets/imagen/Programa.png" alt="">Programa de Formación</td>
    </tr>
    <tr>
      <td>2558188</td>
      <td>Analisis y desarrollo de software</td>
      <td><button>Registrar Asistencia</button></td>
    </tr>
  </table>
</main>
