main{
  height: 100vh;
  padding: 3vw 6vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
header{
  display: flex;
  background-color: #009E00;
  height: 8vw;
  border-radius: 1vw;
  border: 0.1vw solid black;
  align-items: center;
  gap: 22vw;
  color: white;
  font-size: 1.6vw;
}
header img{
  width: 4vw;
  margin-left: 2vw;
}
section{
  display: flex;
  justify-content: space-between;
}
.perfil_instructor{
  display: flex;
  background-color: #009E00;
  width: 58vw;
  height: 6vw;
  border-radius: 0.8vw;
  border: 0.1vw solid black;
  justify-content: space-around;
}

