<link rel="stylesheet" href="registro-asistencia.component.css">
<main class="roboto-bold">
  <header>
    <img src="assets/imagen/Logo-Blanco.svg" alt="">
    <h1 class="roboto-bold">Sistema de Asistencia</h1>
  </header>
  <section>
    <div class="perfil_instructor">
      <div class="img_perfil">
        <img src="assets/imagen/Icon_User.svg" alt="">
        <p>Yasser Pushaina <br><button (click)="toggleDiv()" class="roboto-regular">Actualizar Datos</button></p>
      </div>
      <p class="roboto-regular" for="">3/11/2002 <br><span>15:30</span></p>
    </div>
    <div *ngIf="isDivVisible" class="actualizar_datos">
      <div class="actu_contra">
        <label for="">Correo</label>
        <input type="text">
        <br>
        <label for="">Ingrese nueva contraseña</label>
        <input type="text">
        <label for="">Confirmar Contraseña</label>
        <input type="text">
        <br>
        <button>Guardar Correo</button>
      </div>
    </div>
    <img class="flecha_abajo" src="assets/imagen/flecha_abajo.png" alt="">
    <select class="Competencias" id="">
      <option value="" selected disabled hidden>Selecione una competencia</option>
      <option value="">1</option>
      <option value="">2</option>
      <option value="">3</option>
    </select>
  </section>
  <u><h2>FICHAS</h2></u>
  <table>
    <tr class="encabezado_fichas">
      <th><div><img src="assets/imagen/Ficha.png" alt="">Numero de Ficha</div></th>
      <th><div><img src="assets/imagen/Programa.png" alt="">Programa de Formación</div></th>
      <th class="tipo_formacion"><div><img src="assets/imagen/Formacion.png" alt="">Tipo de Formación</div></th>
      <th></th>
    </tr>
    <tr class="tr_list" id="roboto-regular">
      <td >2558188</td>
      <td class="td_programa">Analisis y desarrollo de software</td>
      <td class="td_programa_tecnologo">Tecnologo</td>
      <td><button>Registrar Asistencia</button></td>
    </tr>
  </table>
</main>
