<link rel="stylesheet" href="registro-asistencia.component.css">
<main class="roboto-bold">
  <header>
    <img src="assets/imagen/Logo-Blanco.svg" alt="">
    <h1 class="roboto-bold">Sistema de Asistencia</h1>
  </header>
  <section>
    <div class="perfil_instructor">
      <div class="img_perfil">
        <img src="assets/imagen/Icon_User.svg" alt="">
        <p>Yasser Pushaina <br><button (click)="toggleDiv()" class="roboto-regular">Actualizar Datos</button></p>
      </div>
      <p class="roboto-regular" for="">3/11/2002 <br><span>15:30</span></p>
    </div>
    <app-actualizar-instructor  *ngIf="isDivVisible" style="position: absolute;top: 0px;left: 0px;" ></app-actualizar-instructor>
    <img class="flecha_abajo" src="assets/imagen/flecha_abajo.png" alt="">
    <select  class="Competencias" id="">
      <option value="">Selecciona una competencias</option>
      <option *ngFor="let competencia of competencias | async">
        {{ competencia.nombre }}
      </option>
    </select>
  </section>

  <u  *ngIf=""><h2>FICHAS</h2></u >
  <table>
    <tr class="encabezado_fichas">
      <th><div><img src="assets/imagen/Ficha.png" alt="">Numero de Ficha</div></th>
      <th><div><img src="assets/imagen/Programa.png" alt="">Programa de Formación</div></th>
      <th class="tipo_formacion"><div><img src="assets/imagen/Formacion.png" alt="">Tipo de Formación</div></th>
    </tr>
    <tr *ngFor="let ficha of fichaProgramas | async" class="tr_list" id="roboto-regular">
      <td>{{ficha.Numero}}</td>
      <td class="td_programa">{{ficha.Programa}}</td>
      <td class="td_programa_tecnologo">{{ficha.Formacion}}</td>
      <td><button>Registrar Asistencia</button></td>
    </tr>
  </table>
  <!-- <app-guardar-asistencia *ngIf=""></app-guardar-asistencia> -->
</main>
