main{
  height: 100vh;
  padding: 3vw 10vw;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
header{
  display: flex;
  background-color: #009E00;
  height: 6vw;
  border-radius: 1vw;
  align-items: center;
  gap: 22vw;
  color: white;
  font-size: 1.3vw;
}
header img{
  width: 4vw;
  margin-left: 2vw;
}
section{
  display: flex;
  gap: 3vw;
}
.perfil_instructor{
  display: flex;
  background-color: #009E00;
  width: 52vw;
  height: 6vw;
  border-top-left-radius: 0.8vw;
  border-bottom-left-radius: 0.8vw;
  gap: 15vw;
  align-items: center;
}
.perfil_instructor p{
  font-size: 1.2vw;
  display: grid;
  gap: 0.5vw;
  color: white;
}
.img_perfil{
  display: flex;
  gap: 2vw;
  align-items: center;
}
.img_perfil img{
  width: 7vw;
  padding-left: 1vw;
}
.img_perfil button{
  font-size: 1.2vw;
  color: white;
  background: none;
  border: none;
  text-align: left;
}
.img_perfil p{
  font-size: 2vw;
  color: white;
}
select{
  background-color: #009E00;
  width: 24vw;
  height: 6vw;
  border-top-right-radius: 0.8vw;
  border-bottom-right-radius: 0.8vw;
  color: white;
  padding-left: 1.7vw;
  font-size: 1.3vw;
  appearance: none;
  outline: none;
}
option{
  border: 0.1vw solid #009E00;
  background-color: white;
  color: black;
}
.flecha_abajo{
  position: absolute;
  right: 13vw;
  top: 14vw;
  width: 1.5vw;
}
h2{
  font-size: 1.5vw;
}
table{
  border: 0.1vw solid gray;
  border-spacing: 0px;
}
table img{
  width: 2vw;
}
.encabezado_fichas{
  background-color: #009E00;
  height: 3vw;
  color: white;

}
.encabezado_fichas th{
  border-bottom: 0.1vw solid gray;
  border-right: 0.1vw solid gray;
  font-size: 1.2vw;
  height: inherit;
}
.encabezado_fichas div{
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: center;
  gap: 0.5vw;
}
.tr_list{
  text-align: center;
  height: 2.5vw;
}
.tr_list td{
  border-right: 0.1vw solid gray;
  font-size: 1vw;
}
.tr_list button{
  width: 14vw;
  height: 2vw;
  border-radius: 0.5vw;
  border: none;
  color: white;
  background-color: #008400;
  font-size: 1vw;
}

@media(max-width: 900px) {
  main{
    gap: 6vw;
  }
  header{
    height: 8vw;
    gap: 18vw;
    font-size: 1.7vw;
  }
  header img{
    width: 6vw;
    margin-left: 2vw;
  }
  .perfil_instructor{
    height: 8vw;
    gap: 5vw;
    width: 48vw;
    align-items: center;
  }
  h2{
    font-size: 2vw;
  }
  select{
    background-color: #009E00;
    height: 8vw;
    padding-left: 0.5vw;
    font-size: 2vw;
    width: 30vw;
  }
  .flecha_abajo{
    position: absolute;
    right: 10.5vw;
    top: 20vw;
    width: 1.5vw;
  }
  .perfil_instructor p{
    font-size: 2vw;
  }
  .encabezado_fichas{
    height: 4.5vw;
  }
  table img{
    width: 3.5vw;
  }
  .tr_list{
    text-align: center;
    height: 4vw;
  }
  .tr_list button{
    width: 15vw;
    height: 3vw;
    border-radius: 0.8vw;
    font-size: 1.3vw;
  }
  .tr_list td{
    font-size: 1.8vw;
  }
  .encabezado_fichas th{
    font-size: 1.8vw;
    height: inherit;
  }
  .encabezado_fichas div{
    gap: 0.8vw;
  }
  .img_perfil button{
    font-size: 2vw;
  }
  .img_perfil p{
    font-size: 3vw;
  }
  .img_perfil img{
    padding-left: 0.6vw;
    width: 8vw;
  }
  .img_perfil{
    gap: 1.5vw;
  }
}
@media(max-width: 700px) {
  main{
    gap: 4.5vw;
    padding: 8vw 10vw;
  }
  header{
    height: 14vw;
    font-size: 2.5vw;
    gap: 8vw;
  }
  header img{
    width: 10vw;
  }
  .perfil_instructor{
    height: 15vw;
    width: 80vw;
    gap: 11vw;
    border-radius: 0.8vw;
    align-items: center;
  }
  h2{
    font-size: 3vw;
  }
  select{
    width: 80vw;
    height: 8vw;
    text-align: center;
    padding-left: 1.7vw;
    border-radius: 0.8vw;
    font-size: 3vw;
  }
  section{
    display: grid;
    gap: 4vw;
  }
  .img_perfil img{
    width: 12vw;
  }
  .perfil_instructor p{
    font-size: 4vw;
    color: white;
  }
  .encabezado_fichas{
    height: 8vw;
  }
  table img{
    display: none;
  }
  .tr_list{
    text-align: center;
    height: 7.5vw;
  }
  .tr_list button{
    width: 22vw;
    height: 6vw;
    border-radius: 3vw;
    text-align: center;
    font-size: 2.3vw;
  }
  .tr_list td{
    font-size: 2.8vw;
    padding: 1vw;
  }
  .encabezado_fichas th{
    font-size: 3vw;
    padding: 1vw;
    height: inherit;
  }
  .flecha_abajo{
    position: absolute;
    right: 24vw;
    top: 47vw;
    width: 3.5vw;
  }
  .img_perfil button{
    font-size: 2.5vw;
  }
  .td_programa_tecnologo, .tipo_formacion{
    display: none;
  }
}
