main{
    height: 100vh;
    padding: 3vw 6vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

header{
    display: flex;
    background-color: #009E00;
    height: 6vw;
    border-radius: 1vw;
    border: 0.1vw solid gray;
    align-items: center;
    gap: 22vw;
    color: white;
    font-size: 1.3vw;
}
header img{
    width: 4vw;
    margin-left: 2vw;
}
section{
    display: flex;
    align-items: center;
    background-color: #009E00;
    color: white;
    justify-content: space-between;
    height: 4vw;
    border-radius: 1vw;
    border: 0.1vw solid gray;
}
.titulo{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding-left: 1vw;
    font-size: 1.3vw;
}
.titulo img{
    width: 2.5vw;
    height: 2.5vw;
}
.Filtros{
    display: flex;
    gap: 4vw;
}
.Filtros button,.button_buscar{
    width: 8vw;
    height: 2vw;
    color: white;
    background-color: #008400;
    border: none;
    font-size: 1vw;
    border-radius: 0.5vw;
}
.button_buscar{
    margin-right: 2vw;
}
.select_competencias,.select_ficha{
    width: 9.3vw;
    height: 2vw;
    color: white;
    background-color: #008400;
    border: none;
    font-size: 1vw;
    border-radius: 0.5vw;
    padding-left: 0.5vw;
    border-right: 0.3vw solid transparent;
}
.select_ficha{
    width: 6.3vw;
    padding-left: 1vw;
}
.filtros_aplicados{
    display: flex;
    gap: 14vw;
    flex-wrap: wrap;
    font-size: 1vw;
}
.reportes_filtros{
    border: 0.1vw solid gray;
    border-spacing: 0px;
}
.encabezado{
    background-color: #009E00;
    height: 3vw;
    color: white;
}
.detalles{
    border-right: none !important;
}
.encabezado th{
    border-bottom: 0.1vw solid gray;
    border-right: 0.1vw solid gray;
    font-size: 1.2vw;
}
.contenido{
    text-align: center;
    height: 2vw;
}
.contenido td{
    border-right: 0.1vw solid gray;
    font-size: 1vw;
}
.indicador_iconos{
    display:none ;
}
.responsive{
  display: none;
}
.calendarios{
    background-color: #009E00;
    position: absolute;
    display: flex;
    padding: 1.5vw;
    gap: 1vw;
    left: 41vw;
    top: 16vw;
}

@media(max-width: 900px){
    section{
        height: 6vw;
    }
    .titulo{
        font-size: 1.8vw;
    }
    .titulo img{
        width: 3.5vw;
        height: 3.5vw;
    }
    .Filtros button,.button_buscar{
        height: 3vw;
        font-size: 1.5vw;
    }
    .select_competencias,.select_ficha{
        width: 13.3vw;
        height: 3vw;
        font-size: 1.5vw;
    }
    .select_ficha{
        width: 8.3vw;
    }
    .filtros_aplicados{
        gap: 9vw;
        font-size: 1.5vw;
    }
    .encabezado{
        height: 4vw;
    }
    .encabezado th{
        font-size: 2vw;
    }
    .contenido{
        height: 3vw;
    }
    .contenido td{
        font-size: 1.5vw;
    }
}
@media (max-width:700px){
    main{
        gap: 5vw;
    }
    header{
        height: 19vw;
        border-radius: 2vw;
        gap: 7vw;
        font-size: 2.5vw;
    }
    header img{
        width: 13vw;
        margin-left: 8vw;
    }
    section{
        display: flex;
        justify-content: space-between;
        height: 19vw;
        border-radius: 2vw;
        flex-direction: column;
        padding: 2vw;
        align-items: flex-start;

    }
    .titulo{
        gap: 2.5vw;
        font-size: 3vw;
    }
    .titulo img{
        width: 5.5vw;
        height: 5.5vw;
    }
    .Filtros button,.button_buscar{
        width: 15vw;
        height: 6vw;
        font-size: 3vw;
        border-radius: 1.5vw;
    }
    .select_competencias,.select_ficha{
        width: 24.3vw;
        height: 6vw;
        font-size: 3vw;
    }
    .select_ficha{
        width: 15.3vw;
    }
    .filtros_aplicados{
        gap: 6vw;
        font-size: 2.5vw;
    }
    .indicador_iconos{
        display: flex;
        gap: 7vw;
        font-size: 2.9vw;
    }
    .indicador_iconos article{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5vw;
    }
    .indicador_iconos img{
        width: 3vw;
    }
    .reportes_filtros{
        display: none;
    }
    .responsive{
        display:inline-table;
    }
    .encabezado{
        height: 9vw;
    }
    .encabezado th{
        font-size: 3.2vw;
    }
    .encabezado img{
        width: 4vw;
    }
    .contenido{
        height: 9vw;
    }
    .contenido td{
        font-size: 2.5vw;
    }
    .competencia{
        width: 26vw ;
    }
    .fecha{
        width: 22vw;
    }
}
